.article-titel{
    font-size: 3.5rem;
   font-family: 'Crimson Text';
}
.article-redirect{
    background-color: #F1F3F4;
    color: #8890A7;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

}
.atricle-redirect-link{
    color: #8890A7;
    text-decoration: underline;
    padding-left: 5px;
    &:hover{
        color: rgb(116, 123, 143);
    }
}
.article-summery{
    font-size: 16px;
    font-weight: 444;
}
.article-divider-line{
    border-bottom: 1px solid #EDEEEE;
}
.article-history{
    font-size: 2.5rem;
   font-family: 'Crimson Text';
}
.article-subTitle{
    font-size: 2rem;
   font-family: 'Crimson Text';
}
.empty-row-small{
    height: 30px;
}
.element {
    position: relative;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px;
    border: 1px solid black;
  }
  
  .element:hover .tooltip {
    display: block;
  }
.articl-item-redirect-items{
    padding-left: 10px;
}
.article-item-table{
    overflow-x: auto;
}

  @media only screen and (max-width: 1200px) {
    .article-redirect{
    
        width: 20rem !important;
    }
  }