.article-titel{
    font-size: 3.5rem;
   font-family: 'Crimson Text';
}
.article-redirect{
    background-color: #F1F3F4;
    color: #8890A7;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

}
.atricle-redirect-link{
    color: #8890A7;
    text-decoration: underline;
    padding-left: 5px;
    &:hover{
        color: rgb(116, 123, 143);
    }
}
.article-summery{
    font-size: 16px;
    font-weight: 444;
}
.article-divider-line{
    border-bottom: 1px solid #EDEEEE;
}
.article-history{
    font-size: 2.5rem;
   font-family: 'Crimson Text';
}
.article-subTitle{
    font-size: 2rem;
   font-family: 'Crimson Text';
}
.empty-row-small{
    height: 30px;
}
.element {
    position: relative;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px;
    border: 1px solid black;
  }
  
  .element  {
    position:relative; /* making the .tooltip span a container for the tooltip text */
  
  }
  .element:before{
    content: attr(data-text); /* here's the magic */
    position:absolute;
    
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
    
    /* move to right */
    left:100%;
    margin-left:15px; /* and add a small left margin */
    
    /* basic styles */
    width:200px;
    padding:10px;
    border-radius:10px;
    background:#505D62;
    color: #fff;
    text-align:center;
    font-family: 900;
    display:none; /* hide by default */
  }
  .element:hover:before {
    display:block;
    font-family: 900;
  }
  .element:after {
    content: "";
    position:absolute;
    
    /* position tooltip correctly */
    left:100%;
    margin-left:-5px;
   
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
   
    /* the arrow */
    border:10px solid #000;
    border-color: transparent black transparent transparent;
    font-family: 900;
    display:none;
  }
  .element:hover:before, .tooltip:hover:after {
    display:block;
    font-weight: 700;
    font-size: 14px;
    
  }
.articl-item-redirect-items{
    padding-left: 10px;
}
.article-item-table{
    overflow-x: auto;
}

  @media only screen and (max-width: 1200px) {
    .article-redirect{
    
        width: 20rem !important;
    }
  }