.side-menue-searchbtn{
    background-color: transparent;
    border: none;

}
.side-menue-ham{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.side-menue-search-input{
    background: transparent;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #B3CCE8;
}
.form-control:focus {
    color: #495057;
    background-color:transparent;
    border-bottom: 1px solid rgb(213, 233, 255);
    outline: 0;
    box-shadow: none; 
}
.side-menue-row{
    height: 100%;
}
.side-menue-title{
    font-family: 'Crimson Text' !important;
    text-justify: inter-character;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}
.side-menue-big-letter{
    font-size: 30px;
}
.side-menue-sub-title{
    font-size: 16px;
}
.side-menue-container{
    border-right: 1px solid #EDEBEB;
    border-bottom: 1px solid #EDEBEB;
}
.side-menue-rows{
    background-color: #F6F9FA;
}
.side-menue-contents{
    color: #ACB0B2;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EDEEEE;
}
