.side-menue-searchbtn{
    background-color: transparent;
    border: none;
   width: 60%;

}
.side-menue-ham{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.side-menue-search-input{
    background: transparent;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #B3CCE8;
}
.form-control:focus {
    color: #495057;
    background-color:transparent;
    border-bottom: 1px solid rgb(213, 233, 255);
    outline: 0;
    box-shadow: none; 
}
.side-menue-row{
    display: flex;
    align-items: center;
    height: 100%;
   justify-content: space-evenly;
}
.side-menue-title{
    font-family: 'Crimson Text' !important;
    text-justify: inter-character;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}
.side-menue-big-letter{
    font-size: 30px;
}
.side-menue-sub-title{
    font-size: 16px;
}
.side-menue-container{
    border-right: 1px solid #EDEBEB;
    border-bottom: 1px solid #EDEBEB;
    height: 100%;
}
.side-menue-rows{
    background-color: #F6F9FA;
    
}
.side-menue-contents{
    color: #ACB0B2;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EDEEEE;
}
.sideMenue-gray-container{
    background-color: #F6F9FA ;
    height: 100%;
}
.side-menue-logo-container{
    background-color: white;
}
.dialog-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }
  
  .dialog-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .dialog-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
  }
  .side-menue-logo-img{
    width :149.6px;
    height:100px;

  }
  @media only screen and (max-width: 1200px) {
    .side-menue-logo-img{
        width :120px;
        height:80.53px;
    
      }
  }