@import './variables.scss';

.App {
  text-align: center;
}

.total-menues-container{
  background-color: $header-search-menue;
}
.empty-row{
  height: 40px;
}
body {
  // font-family: 'Haas Grot Text R Web';
  font-size: 14px;
}
.text-align-center{
  text-align: center;
}
.app-article-shadow{
 z-index: 2;
}
.app-sidemenue-padding{
  padding-right: 0;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}