@import './variables.scss';

.App {
  text-align: center;
}

.total-menues-container{
  background-color: $header-search-menue;
}
.empty-row{
  height: 40px;
}
body {
  // font-family: 'Haas Grot Text R Web';
  font-size: 14px;
}
.text-align-center{
  text-align: center;
}